{% extends "base.html" %}
{% block content %}
  <div class="page-title">Dashboard</div>

  <div class="grid" style="margin-top:12px">
    <a href="{{ url_for('products') }}" class="card red">
      <div>
        <div class="title">Products</div>
      </div>
      <div class="icon">📷</div>
    </a>

    <a href="{{ url_for('orders') }}" class="card">
      <div>
        <div class="title">Orders</div>
      </div>
      <div class="icon">🛒</div>
    </a>

    <a href="{{ url_for('customers') }}" class="card" style="background:#072463">
      <div>
        <div class="title">Users</div>
      </div>
      <div class="icon">👤</div>
    </a>

    <div class="card red">
      <div>
        <div class="title">Total Profit</div>
      </div>
      <div class="icon">💼</div>
    </div>
  </div>
{% endblock %}
